body {
    background-color: rgb(41, 90, 62);
}

#contact h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

#contact ul {
    padding-left: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

form input, form textarea {
    border-radius: 5px;
    border: 1px solid rgb(41, 90, 62);
    padding: 10px; /* Specify a padding value here */
}

#contact ul li {
    margin-bottom: 10px;
    display: flex; /* Align icons and text */
    align-items: center; /* Center vertically */
}

#contact ul li i {
    margin-right: 10px; /* Space between icon and text */
    color: rgb(35, 12, 12); /* Icon color */
}
